<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="{{ url('static', filename='style.css') }}" />
    <title>发送</title>
  </head>
  <body>
    <h1>发送</h1>
    <div>
      1.花里胡哨的电视机背景墙（长时间会产生审美疲劳）
      <br>
      2.各种五颜六色的灯带（一年真的也开不了几次，把家里装的跟KTV一样）
      <br>
      3.复杂的吊顶（不仅难打理，还经常落灰）
      <br>
      4.大家都安利的带吊扇的灯（北方城市，经常落灰，刚做好的一桌饭，毁于开灯的一瞬间，层高低的就别装吊扇灯了，倒不如买个落地扇放在角落，夏季用的时候拿出来，不用的时候收起来）
      <br>
      5.大茶几，大沙发（小房子真的不要放大茶几，特别是有小孩的房子）
      <br>
      6.贵妃椅（其实躺在上面看电视真的很难受，平躺看不见，半躺脊柱难受，还占地方），导致没有办法轮转的空间。
    </div>
  </body>
</html>
