{% extends "base.html" %}

{% set title = "Sitemap" %}

{% block content %}
{% if urls %}
    <ul>
    {% for url in urls %}
    <li><a href="{{ url }}">{{ url }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No URLs are available.</p>
{% endif %}
{% endblock %}
